.userProfilePage {
  height: 100vh;
  /* display: inline-block; */
  justify-content: center;
}
#Profilecontainer {
  display: flex;
  justify-content: center;
  background-color: transparent;
  height: 70%;
}
#Profile {
  height: 100%;
  margin-top: 2rem;
  width: 95%;
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0vh 2vh rgba(18, 18, 184, 0.511);
}
#side {
  /* border: 1px solid white; */
  padding: 0.15rem;
  display: grid;
  grid-column: 2;
  border-radius: 1rem;
  justify-content: center;
  box-shadow: 0 0 2vh rgba(255, 255, 255, 0.215);
}
#Profile-Grid {
  padding: 2rem;
  height: 100%;
  display: flex;
  min-width: fit-content;
  flex-wrap: wrap;
}
#username {
  background-color: transparent;
  font-size: 1.25rem;
  /* display: flex; */
  align-items: center;
  padding: 0.5rem;
}
#username p {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
}
#logo {
  background-color: transparent;
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.215);

  box-shadow: 0 0 2vh rgba(255, 255, 255, 0.215);

  max-width: 95%;
  min-width: fit-content;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 1rem;
  padding-block: 0.5rem;
}

/*the drawer section*/

.drawer {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  width: 95%;
  /* height: fit-content; */
  /* align-items: end; */
  margin-bottom: 0px;
  border-radius: 1rem;
  padding-block: 0.75rem;
  margin-inline: 1rem;
  background-color: transparent;
  font-size: 1.25rem;
}
.drawer:hover {
  box-shadow: 0 0 1vh white;
  background-color: white;
  color: black;
  font-weight: 700;
  cursor: pointer;
}
.follow:hover {
  background-color: forestgreen;
  color: whitesmoke;
  box-shadow: 0 0 4vh forestgreen;
}
.unfollow:hover {
  background-color: rgb(172, 18, 18);
  color: whitesmoke;
  box-shadow: 0 0 4vh rgb(253, 28, 28);
}
/*Right Pannel*/
#MainPannel {
  /* border: 1px solid white; */
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 3vh rgba(255, 255, 255, 0.215);
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.userRepo {
  /* border: 1px solid white; */
  width: 90%;
  height: 85%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  scrollbar-width: none;
  /* scrollbar-track-color: none; */

  justify-content: center;
}
.repository {
  width: 90%;
  border: 1px solid white;
  margin-block: 1rem;
  border-radius: 1rem;
  padding-inline: 2.5rem;
  padding-block: 1.5rem;
  height: fit-content;

  justify-content: space-between;
}
.repository:hover {
  border: 1px solid transparent;
  background-color: rgba(240, 248, 255, 0.152);
}
.deleteRepo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 0px;
  height: fit-content;
}
.css-rizt0-MuiTypography-root {
  background-color: transparent;
}
.css-12xagqm-MuiSwitchBase-root {
  background-color: transparent !important;
}
.css-aqlqb4-MuiButtonBase-root-MuiSwitchBase-root-MuiSwitch-switchBase {
  background-color: transparent !important;
}
.css-19opgx6-MuiFormControlLabel-root {
  background-color: transparent !important;
}
.css-rehya9-MuiSwitch-root {
  background-color: transparent !important;
}
